// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    mode "1920x1200@60.001"
    scale 1.25
    position x=0 y=0
}

// Dummy HDMI plug — streamed to iPad Pro 13" (2024) via Sunshine/Moonlight
// x=1536 is the logical width of eDP-1 (1920 physical ÷ 1.25 scale)
output "HDMI-A-1" {
    mode "2560x1600@59.972"
    scale 1.25
    position x=1536 y=0
}
